# Request API & Platform Lead, Head of Engineering, and Seniors
* @UTDNebula/api-platform-lead @UTDNebula/head-of-engineering @Yogeb-tech @KBui4 @SoggyRhino


# Additional request from Porfolio Lead for any Portfolio-related endpoints
rest/controllers/trends.go @UTDNebula/portfolio-lead
rest/controllers/grades.go @UTDNebula/portfolio-lead