.container, .well{
    margin-top: 15px;
}

.form-group {
    width: 100%;
}

.card {
    width: 100%;
    margin-top: 10px;
}

#hidden-id, #edit-button, #graph-button {
    display: none;
}

#mynetwork {
    width: 100%;
    height: 800px;
    border: 1px solid lightgray;
}

.modal-dialog {
    max-width: 80%;
}