# DATABASE URI
MONGODB_URI=

# MAX RETURNED ITEMS (doesn't apply to /all endpoints)
#LIMIT=

# GIN SETTINGS
#PORT=
#GIN_MODE=release

# CLOUD STORAGE (internal use only)
GOOGLE_APPLICATION_CREDENTIALS=
STORAGE_ROUTE_KEY=

# SENRTY
SENTRY_ENVIRONMENT=development
