# See README.MD for more information

# DATABASE URI
MONGODB_URI=

# MAX RETURNED ITEMS (doesn't apply to /all endpoints)
#LIMIT=

# GIN SETTINGS
#PORT=
#GIN_MODE=release

# SENRTY
SENTRY_ENVIRONMENT=development

# For Google Cloud Routes /storage /email (internal use only)
GOOGLE_APPLICATION_CREDENTIALS=
STORAGE_ROUTE_KEY=
EMAIL_SEND_ROUTE_KEY=
EMAIL_QUEUE_ROUTE_KEY=

# For SMTP email sending
SMTP_HOST=smtp.gmail.com
SMTP_USERNAME=
SMTP_FROM=
SMTP_PASSWORD=

# For Email Google Cloud Task Queueing 
GCLOUD_EMAIL_QUEUE_PATH=
GCLOUD_EMAIL_QUEUE_URL=
