{
  "openapi": "3.0.0",
  "info": {
    "title": "Nebula Labs API",
    "summary": "The public Nebula Labs API",
    "description": "The public Nebula Labs API for access to pertinent UT Dallas data",
    "termsOfService": "",
    "contact": {
      "name": "",
      "url": "",
      "email": ""
    },
    "license": {
      "name": "",
      "url": ""
    },
    "version": "0.1.0"
  },
  "host": "api.utdnebula.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/course": {
      "get": {
        "bodyContentType": "application/json",
        "description": "Returns all courses matching the query's string-typed key-value pairs",
        "parameters": [
          {
            "name": "course_number",
            "in": "query",
            "description": "The course's official number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_prefix",
            "in": "query",
            "description": "The course's subject prefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "The course's title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "The course's description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "school",
            "in": "query",
            "description": "The course's school",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "credit_hours",
            "in": "query",
            "description": "The number of credit hours awarded by successful completion of the course",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "class_level",
            "in": "query",
            "description": "The level of education that this course course corresponds to",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity_type",
            "in": "query",
            "description": "The type of class this course corresponds to",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grading",
            "in": "query",
            "description": "The grading status of this course",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "internal_course_number",
            "in": "query",
            "description": "The internal (university) number used to reference this course",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lecture_contact_hours",
            "in": "query",
            "description": "The weekly contact hours in lecture for a course",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offering_frequency",
            "in": "query",
            "description": "The frequency of offering a course",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of courses",
            "schema": {
              "type": "array"
            }
          },
          "items": {
            "$ref": "#/components/schemas/Course"
          }
        }
      }
    },
    "/course/{id}": {
      "get": {
        "bodyContentType": "application/json",
        "description": "Returns the course with given ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the course to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A course",
            "schema": {
              "$ref": "#/components/schemas/Course"
            }
          }
        }
      }
    },
    "/degree/{id}": {
      "get": {
        "bodyContentType": "application/json",
        "description": "Returns the degree with given ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the degree to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A degree",
            "schema": {
              "$ref": "#/components/schemas/Degree"
            }
          }
        }
      }
    },
    "/exam": {
      "get": {
        "bodyContentType": "application/json",
        "description": "Returns all exams matching the query's string-typed key-value pairs",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "The type of exam",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the exam",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "The level of the IB exam (should it be an IB exam)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of exams",
            "schema": {
              "type": "array"
            }
          },
          "items": {
            "$ref": "#/components/schemas/Exam"
          }
        }
      }
    },
    "/exam/{id}": {
      "get": {
        "bodyContentType": "application/json",
        "description": "Returns the exam with given ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the exam to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An exam",
            "schema": {
              "$ref": "#/components/schemas/Exam"
            }
          }
        }
      }
    },
    "/professor": {
      "get": {
        "bodyContentType": "application/json",
        "description": "Returns all professors matching the query's string-typed key-value pairs",
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "description": "The professor's first name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "The professor's last name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titles",
            "in": "query",
            "description": "One of the professor's title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "The professor's email address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The professor's phone number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office.building",
            "in": "query",
            "description": "The building of the location of the professor's office",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office.room",
            "in": "query",
            "description": "The room of the location of the professor's office",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office.map_uri",
            "in": "query",
            "description": "A hyperlink to the UTD room locator of the professor's office",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_uri",
            "in": "query",
            "description": "A hyperlink pointing to the professor's official university profile",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image_uri",
            "in": "query",
            "description": "A link to the image used for the professor on the professor's official university profile",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office_hours.start_date",
            "in": "query",
            "description": "The start date of one of the office hours meetings of the professor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office_hours.end_date",
            "in": "query",
            "description": "The end date of one of the office hours meetings of the professor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office_hours.meeting_days",
            "in": "query",
            "description": "One of the days that one of the office hours meetings of the professor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office_hours.start_time",
            "in": "query",
            "description": "The time one of the office hours meetings of the professor starts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office_hours.end_time",
            "in": "query",
            "description": "The time one of the office hours meetings of the professor ends",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office_hours.modality",
            "in": "query",
            "description": "The modality of one of the office hours meetings of the professor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office_hours.location.building",
            "in": "query",
            "description": "The building of one of the office hours meetings of the professor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office_hours.location.room",
            "in": "query",
            "description": "The room of one of the office hours meetings of the professor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office_hours.location.map_uri",
            "in": "query",
            "description": "A hyperlink to the UTD room locator of one of the office hours meetings of the professor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sections",
            "in": "query",
            "description": "The _id of one of the sections the professor teaches",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of professors",
            "schema": {
              "type": "array"
            }
          },
          "items": {
            "$ref": "#/components/schemas/Professor"
          }
        }
      }
    },
    "/professor/{id}": {
      "get": {
        "bodyContentType": "application/json",
        "description": "Returns the professor with given ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the professor to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A professor",
            "schema": {
              "$ref": "#/components/schemas/Professor"
            }
          }
        }
      }
    },
    "/section": {
      "get": {
        "bodyContentType": "application/json",
        "description": "Returns all courses matching the query's string-typed key-value pairs",
        "parameters": [
          {
            "name": "section_number",
            "in": "query",
            "description": "The section's official number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "course_reference",
            "in": "query",
            "description": "An id that points to the course in MongoDB that this section is an instantiation of",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_session.name",
            "in": "query",
            "description": "The name of the academic session of the section",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_session.start_date",
            "in": "query",
            "description": "The date of classes starting for the section",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_session.end_date",
            "in": "query",
            "description": "The date of classes ending for the section",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "professors",
            "in": "query",
            "description": "One of the professors teaching the section",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teaching_assistants.first_name",
            "in": "query",
            "description": "The first name of one of the teaching assistants of the section",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teaching_assistants.last_name",
            "in": "query",
            "description": "The last name of one of the teaching assistants of the section",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teaching_assistants.role",
            "in": "query",
            "description": "The role of one of the teaching assistants of the section",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teaching_assistants.email",
            "in": "query",
            "description": "The email of one of the teaching assistants of the section",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "internal_class_number",
            "in": "query",
            "description": "The internal (university) number used to reference this section",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instruction_mode",
            "in": "query",
            "description": "The instruction modality for this section",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetings.start_date",
            "in": "query",
            "description": "The start date of one of the section's meetings",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetings.end_date",
            "in": "query",
            "description": "The end date of one of the section's meetings",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetings.meeting_days",
            "in": "query",
            "description": "One of the days that one of the section's meetings",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetings.start_time",
            "in": "query",
            "description": "The time one of the section's meetings starts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetings.end_time",
            "in": "query",
            "description": "The time one of the section's meetings ends",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetings.modality",
            "in": "query",
            "description": "The modality of one of the section's meetings",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetings.location.building",
            "in": "query",
            "description": "The building of one of the section's meetings",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetings.location.room",
            "in": "query",
            "description": "The room of one of the section's meetings",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetings.location.map_uri",
            "in": "query",
            "description": "A hyperlink to the UTD room locator of one of the section's meetings",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "core_flags",
            "in": "query",
            "description": "One of core requirement codes this section fulfills",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "syllabus_uri",
            "in": "query",
            "description": "A link to the syllabus on the web",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of sections",
            "schema": {
              "type": "array"
            }
          },
          "items": {
            "$ref": "#/components/schemas/Section"
          }
        }
      }
    },
    "/section/{id}": {
      "get": {
        "bodyContentType": "application/json",
        "description": "Returns the section with given ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the section to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A section",
            "schema": {
              "$ref": "#/components/schemas/Section"
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ALEKSExam": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Exam"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "placement"
        ],
        "properties": {
          "placement": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Outcome"
            }
          }
        }
      },
      "APExam": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Exam"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "name",
          "yields"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "yields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Outcome"
            }
          }
        }
      },
      "AcademicSession": {
        "properties": {
          "name": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          },
          "end_date": {
            "type": "string"
          }
        }
      },
      "Assistant": {
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "CLEPExam": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Exam"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "name",
          "yields"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "yields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Outcome"
            }
          }
        }
      },
      "CSPlacementExam": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Exam"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "yields"
        ],
        "properties": {
          "yields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Outcome"
            }
          }
        }
      },
      "ChoiceRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "choices"
        ],
        "properties": {
          "choices": {
            "$ref": "#/components/schemas/CollectionRequirement"
          }
        }
      },
      "CollectionRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "name",
          "required",
          "options"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "required": {
            "type": "integer"
          },
          "options": {
            "type": "array",
            "items": [
              {
                "$ref": "#/components/schemas/Requirement"
              }
            ]
          }
        }
      },
      "ConsentRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "granter"
        ],
        "properties": {
          "granter": {
            "type": "string"
          }
        }
      },
      "CoreRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "core_flag",
          "hours"
        ],
        "properties": {
          "core_flag": {
            "type": "string"
          },
          "hours": {
            "type": "integer"
          }
        }
      },
      "Course": {
        "required": [
          "_id",
          "course_number",
          "subject_prefix",
          "title",
          "description",
          "school",
          "credit_hours",
          "class_level",
          "activity_type",
          "grading",
          "internal_course_number",
          "lecture_contact_hours",
          "laboratory_contact_hours",
          "offering_frequency"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "course_number": {
            "type": "string"
          },
          "subject_prefix": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "school": {
            "type": "string"
          },
          "credit_hours": {
            "type": "string"
          },
          "class_level": {
            "type": "string"
          },
          "activity_type": {
            "type": "string"
          },
          "grading": {
            "type": "string"
          },
          "internal_course_number": {
            "type": "string"
          },
          "prerequisites": {
            "$ref": "#/components/schemas/CollectionRequirement"
          },
          "corequisites": {
            "$ref": "#/components/schemas/CollectionRequirement"
          },
          "lecture_contact_hours": {
            "type": "string"
          },
          "laboratory_contact_hours": {
            "type": "string"
          },
          "offering_frequency": {
            "type": "string"
          }
        }
      },
      "CourseRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "class_reference",
          "minimum_grade"
        ],
        "properties": {
          "class_reference": {
            "type": "string"
          },
          "minimum_grade": {
            "type": "string"
          }
        }
      },
      "Credit": {
        "required": [
          "category",
          "credit_hours"
        ],
        "properties": {
          "category": {
            "type": "string"
          },
          "credit_hours": {
            "type": "int"
          }
        }
      },
      "Exam": {
        "required": [
          "_id",
          "type"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "AP": "APExam",
            "ALEKS": "ALEKSExam",
            "CLEP": "CLEPExam",
            "IB": "IBExam",
            "CS placement": "CSPlacementExam"
          }
        }
      },
      "ExamRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "exam_reference",
          "minimum_score"
        ],
        "properties": {
          "exam_reference": {
            "type": "string"
          },
          "minimum_score": {
            "type": "integer"
          }
        }
      },
      "GPARequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "minimum"
        ],
        "properties": {
          "subset": {
            "type": "string"
          },
          "minimum": {
            "type": "number"
          }
        }
      },
      "HoursRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "required",
          "options"
        ],
        "properties": {
          "required": {
            "type": "integer"
          },
          "options": {
            "type": "array",
            "items": [
              {
                "$ref": "#/components/schemas/CourseRequirement"
              }
            ]
          }
        }
      },
      "IBExam": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Exam"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "name",
          "level",
          "yields"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "yields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Outcome"
            }
          }
        }
      },
      "LimitRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "max_hours"
        ],
        "properties": {
          "max_hours": {
            "type": "integer"
          }
        }
      },
      "Location": {
        "properties": {
          "building": {
            "type": "string"
          },
          "room": {
            "type": "string"
          },
          "map_uri": {
            "type": "string"
          }
        }
      },
      "MajorRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "major"
        ],
        "properties": {
          "major": {
            "type": "string"
          }
        }
      },
      "Meeting": {
        "properties": {
          "start_date": {
            "type": "string"
          },
          "end_date": {
            "type": "string"
          },
          "meeting_days": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "start_time": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          },
          "modality": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "MinorRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "minor"
        ],
        "properties": {
          "minor": {
            "type": "string"
          }
        }
      },
      "OtherRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "description",
          "condition"
        ],
        "properties": {
          "description": {
            "type": "string"
          },
          "condition": {
            "type": "string"
          }
        }
      },
      "Outcome": {
        "required": [
          "requirement",
          "outcome"
        ],
        "properties": {
          "requirement": {
            "$ref": "#/components/schemas/Requirement"
          },
          "outcome": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "OneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "$ref": "#/components/shemas/Credit"
                  }
                ]
              }
            }
          }
        }
      },
      "Professor": {
        "required": [
          "_id",
          "first_name",
          "last_name",
          "email"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "titles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "email": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "office": {
            "$ref": "#/components/schemas/Location"
          },
          "profile_uri": {
            "type": "string"
          },
          "image_uri": {
            "type": "string"
          },
          "office_hours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meeting"
            }
          },
          "sections": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Requirement": {
        "required": [
          "type"
        ],
        "properties": {
          "type": "string"
        },
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "course": "CourseRequirement",
            "section": "SectionRequirement",
            "exam": "ExamRequirement",
            "major": "MajorRequirement",
            "minor": "MinorRequirement",
            "gpa": "GPARequirement",
            "consent": "ConsentRequirement",
            "collection": "CollectionRequirement",
            "hours": "HoursRequirement",
            "other": "OtherRequirement",
            "choice": "ChoiceRequirement",
            "limit": "LimitRequirement",
            "core": "CoreRequirement"
          }
        }
      },
      "Section": {
        "required": [
          "_id",
          "section_number",
          "course_reference",
          "academic_session",
          "professors",
          "internal_class_number",
          "instruction_mode",
          "meetings",
          "syllabus_uri"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "section_number": {
            "type": "string"
          },
          "course_reference": {
            "type": "string"
          },
          "section_corequisites": {
            "$ref": "#/components/schemas/CollectionRequirement"
          },
          "academic_session": {
            "$ref": "#/components/schemas/AcademicSession"
          },
          "professors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "teaching_assistants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Assistant"
            }
          },
          "internal_class_number": {
            "type": "string"
          },
          "instruction_mode": {
            "type": "string"
          },
          "meetings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meeting"
            }
          },
          "core_flags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "syllabus_uri": {
            "type": "string"
          },
          "grade_distribution": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "SectionRequirement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Requirement"
          },
          {
            "type": "object"
          }
        ],
        "required": [
          "section_reference"
        ],
        "properties": {
          "section_reference": {
            "type": "string"
          }
        }
      }
    }
  }
}
