# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]
  workflow_dispatch:

jobs:

  build_ubuntu:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api    
    steps:
    
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        cache-dependency-path: "**/go.sum"

    - name: Setup
      run: make setup

    - name: Check
      run: make check

    - name: Build
      run: make build

  build_windows:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: .\api
    steps:
    
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        cache-dependency-path: "**\\go.sum"

    - name: Check & Build
      run: .\build.bat
